<launch>
    <!-- 1.将urdf文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find urdf_gazebo)/urdf/car.urdf.xacro" />
    <!-- 2. 启动gazobo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <!-- 3. 在gazebo中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description" />
</launch>