<robot name="mycar" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 演示文件包含 -->
    <xacro:include filename="head.xacro" />
    <xacro:include filename="demo04_base.urdf.xacro" />
    <xacro:include filename="demo05_camera.urdf.xacro" />
    <xacro:include filename="demo06_laser.urdf.xacro" />
</robot>