<!-- 需要启动多个乌龟GUI节点 -->
<launch>
          <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />
          <!-- 名称重映射 -->
          <node pkg="turtlesim" type="turtlesim_node" name="t1" />
          <!-- 命名空间 -->
          <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" ns="ergouzi"/>
          <!-- 命名空间 + 名称重映射 -->
          <node pkg="turtlesim" type="turtlesim_node" name="t2" ns="maolvzi"/>
</launch>